VITE_SUPABASE_URL=https://uhpgvwljcuovlwywlxat.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVocGd2d2xqY3Vvdmx3eXdseGF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MjAwMDgsImV4cCI6MjA5NzI5NjAwOH0.IvjGKtd3wE2HK2VViYjvAn_6fqn_PVA6zwjMQjilvMk